# Virtual environments
env/
.venv/

# Prometheus db
data/

#Pycache files
aggregator/__pycache__/*
parser_normalizer/src/__pycache__/*

# Loki runtime database chunks and indices
data/
/tmp/
loki-storage/
*.db
*.db-journal